# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# VSCode workspace
creatania.code-workspace
src/main/resources/assets/botania
src/main/resources/assets/create
src/main/resources/assets/minecraft